{% extends 'base.html.twig' %}

{% block body %}
  <div class="count">
    {{ pagination.getTotalItemCount }}
  </div>
  <table>
    <tr>
      {# sorting of properties based on query components #}
       <th>{{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</th>
      <th>{{ knp_pagination_sortable(pagination, 'Description', 'p.description') }}</th>
      <th{% if pagination.isSorted('p.Price') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Price', 'p.price') }}</th>
      <th>{{ knp_pagination_sortable(pagination, 'Creation Date', ['p.createTime', 'p.createTime']) }}</th>
    </tr>

    {# table body #}
    {% for product in pagination %}
      <tr {% if loop.index is odd %}class="color"{% endif %}>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.createTime | date('Y-m-d H:i:s') }}</td>
      </tr>
    {% endfor %}
  </table>
  {# display navigation #}
  <div class="navigation">
    {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}
